<div class="frame">
    <div class="row" id="title">
        <div class="cell center">
            <h1 style="color: white; text-align: center; font-size: 60px;">FITNESS AB</h1>
        </div>
    </div>
    <div class="row whitespace">

    </div>
    <div class="row column" id="buttonframe">
        <div class="row center">
            <button class="button big" onclick="location.href='/login'">LOG IN</button>
        </div>
        <div class="row center">
            <button class="button big" onclick="location.href='/register'">CREATE ACCOUNT</button>
        </div>
    </div>
    <div class="row whitespace">

    </div>
</div>