<div class="frame">
    <% if (typeof ssn != 'undefined') { %>
        <div style="width: 100%; height: 30%; position: absolute; top: 20%;">
            <h1 style="font-size: 36px; color: red;">Wrong password or SSN!</h1><h1>Please try again</h1>
        </div>
    <% } %>
    <div style="width: 100%; height: 50%; position: relative; top: 30%;">
    <form class="register" action="login" method="POST" autocomplete="off">
        <label for="SSN">SSN</label><br>
        <input type="text" id="ssn" 
        name="socialSecurityNumber" 
        pattern="^[0-9]{10}$"
        minlength="10" 
        maxlength="10"
        oninput="inputCheck('ssn')"
        <% if (typeof ssn != 'undefined') { %>
        value="<%= ssn %>"
        <% } %>
        required
        ><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br>
        <button class="button" type="submit">Log in</button>
      </form>
    </div>
    <button style="position: absolute; bottom: 0%; background-color: red; width: 100px; height: 100px;" onclick="location.href='/'"></button>
</div>
<script>
    <% if (typeof ssn != 'undefined') { %>
    window.onload = function () {
      var ssnelem = document.getElementById("ssn");
      ssnelem.setCustomValidity('Wrong password or SSN, please try again');
      ssnelem.reportValidity();
    }
    <% } %>
    async function inputCheck(eleID) {
        var elem = document.getElementById(eleID);
        elem.setCustomValidity('');
        elem.reportValidity();
  }
</script>
