<div class="frame">
  <div class="row whitespace"></div>
    <div class="row column">
      <% if (typeof ssn != 'undefined') { %>

        <h1 class="centertext" style="font-size: 36px; color: red;">Wrong password or SSN!</h1><h1 class="centertext">Please try again</h1>

      <% } %>
    </div>
    <div class="row column center">
    <form class="register" id="loginform" action="login" method="POST" autocomplete="off">
        <label for="SSN">SSN</label><br>
        <input type="text" id="ssn" 
        name="socialSecurityNumber" 
        pattern="^[0-9]{10}$"
        minlength="10" 
        maxlength="10"
        oninput="inputCheck('ssn')"
        <% if (typeof ssn != 'undefined') { %>
        value="<%= ssn %>"
        <% } %>
        required
        ><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" value="password" required><br>
      </form>
      <button class="button big" form="loginform" type="submit">Log in</button>
    </div>
    <div class="row whitespace"></div>
</div>
<script>
    <% if (typeof ssn != 'undefined') { %>
    window.onload = function () {
      var ssnelem = document.getElementById("ssn");
      ssnelem.setCustomValidity('Wrong password or SSN, please try again');
      ssnelem.reportValidity();
    }
    <% } %>
    async function inputCheck(eleID) {
        var elem = document.getElementById(eleID);
        elem.setCustomValidity('');
        elem.reportValidity();
  }
</script>
