<div class="frame">
    <h1 class="pgheader">Profile</h1>
    <div>
        <div style="display: inline;">bajs</div>
        <div style="display: inline;">kiss</div>
    </div>
    <div style="width: 100%; height: 50%; position: relative; top: 30%;">
        <h1 style="font-size: 36px;">Welcome, </h1>
    </div>
</div>