<div class="frame" style="position: relative;">
    <div style="width: 100%; height: 50%; position: relative; top: 30%;">
        <h1 style="font-size: 36px;">Welcome, <%= name %></h1>
    </div>
    <button style="position: absolute; bottom: 0%; background-color: red; width: 100px; height: 100px;" onclick="location.href='/'"></button>
</div>