<div class="frame">
  <div class="row whitespace"></div>
    <div class="row column">
        <h1 style="font-size: 36px;">Registration successful!</h1>
        <h1>Please log in to access your new account</h1>
    </div>
    <div class="row column center">
    <form class="register" id="loginform" action="login" method="POST" autocomplete="off">
        <label for="SSN">SSN</label><br>
        <input type="text" id="ssn" 
        name="socialSecurityNumber" 
        pattern="^[0-9]{10}$"
        minlength="10" 
        maxlength="10"
        oninput="inputCheck('ssn')"
        <% if (typeof ssn != 'undefined') { %>
        value="<%= ssn %>"
        <% } %>
        required
        ><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" value="password" required><br>
      </form>
      <button class="button big" form="loginform" type="submit">Log in</button>
    </div>
    <div class="row whitespace"></div>
</div>