<!DOCTYPE html>
<html>
  <head>
    <title>Penor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="height: 1200px; width: 675px; margin: auto; background-color: #333366; position: absolute; top: 10%; left: 37%;">
      <%- include(page) %>
    </div>
  </body>
</html>
